* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'HORIZON';
    src: url(fonts/Horizon.ttf);
    font-weight: bold;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.pozoUnidad {
    font-size: 172pt;
    font-family: 'HORIZON';
    color: #EB1C24;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    left: 20%;
    letter-spacing: 0px;
    right: 2%;
    top: 52%;
}

.pozo2digitos {
    font-size: 172pt;
    font-family: 'HORIZON';
    color: #EB1C24;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    left: 34%;
    letter-spacing: 7px;
    right: 2%;
    top: 15%;
}

/* 768x320 */
@media only screen and (max-width: 768px) {
    .pozoUnidad {
        font-size: 63pt !important;
        font-family: 'HORIZON','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 56%;
        right: 2%;
        top: 11%;
    }

    .pozoUnidad2 {
        font-size: 63pt !important;
        font-family: 'HORIZON','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 70%;
        right: 2%;
        top: 11%;
    }

}